In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\python38\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\python38\lib\site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in c:\python38\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\python38\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python38\lib\site-packages (from scikit-learn) (3.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import seaborn.objects as so
import gapminder

from sklearn import linear_model    # Herramientas de modelos lineales
from sklearn.metrics import mean_squared_error, r2_score    # Medidas de desempeño

 1. Queremos estudiar la relación entre la longitud de la aleta de un pingüino y el peso del pingüino.
 Como en una esfera, el peso es proporcional a la longitud del radio elevada al cubo, **podemos
 conjeturar que un polinomio de grado 3 es apropiado para ajustar el peso en función de la
 longitud de la aleta**. Queremos verificar si nuestra conjetura tiene sustento en los datos.

 (a) Datos faltantes. Ejecutar el siguiente c´odigo y observar si hay filas con datos faltantes
 (NaN)

In [4]:
penguins = sns.load_dataset("penguins")
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

Para hacerlo en forma m´as sistem´atica (en lugar de mirar solo algunas filas) podes usar
 el siguiente c´odigo

In [8]:
penguins.isnull().values.any()

True

 Para eliminar las filas con valores faltantes aplicamos al DataFrame el m´etodo dropna().
 Eliminar las filas con datos faltantes del DataFrame de ping¨ uinos y verificar que el
 DataFrame resultante no contiene valores faltantes

In [9]:
penguinsClean = penguins.dropna()
penguinsClean.isnull().values.any()

False

(b) Conjuntos de entrenamiento y testeo. Dividir el dataset resultante en un grupo de
 entrenamiento y uno de testeo (80%- 20%). Hacerlo de las siguientes dos formas distintas:

**A. Utilizando un array de Numpy para filtrar:**

 i. Crear un array de Numpy booleano de longitud igual a la cantidad de filas del
 DataFrame que tome el valor True en el primer 80% de las coordenadas y False
 en el restante 20%.

 ii. Si se quiere seleccionar una muestra al azar, se puede utilizar numpy.random.shuffle
 para “mezclar” el vector.
 
 iii. Utilizar el vector generado para filtrar el Dataframe.

In [18]:
train_ind = np.full(len(penguinsClean), False)
train_ind[0: int(len(penguinsClean) * 0.8)] = True
np.random.shuffle(train_ind) # Lo guarda en el mismo vector.
penguins_train = penguinsClean[train_ind == True]
penguins_test = penguinsClean[train_ind == False]

**B. Utilizando la funci´on train_test_split de sklearn:**

In [19]:
from sklearn.model_selection import train_test_split
penguins_train, penguins_test = train_test_split(penguins,
 test_size=0.2, random_state=42)

En este codigo, random_state se conoce tambi´ en como semilla aleatoria. Si corremos
 varias veces el c´odigo con el mismo n´umero, obtendremos siempre la misma muestra.
 Esto permite que el experimento sea reproducible. Si modificamos el n´ umero (o no lo
 indicamos), obtendremos distitnas muestras aleatorias.
 
 Podemos tambi´en separar primero las variables explicativas y variable respuesta:

In [ ]:
from sklearn.model_selection import train_test_split
X = penguinsClean
y = ???
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.2, random_state=42)